* {
    padding: 0;
    margin: 0;
}
body
{
    background-image: url(/img/universo.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat
}
nav
{
    height: 10px;

}
section
{
    height: 300px;
    padding: 30px;
   
}
article
{
    height: 200px;
    padding: 30px;

}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: white;
}
footer
{
    height: 200px;
    padding: 30px;
    margin: 30px;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}